@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@500&display=swap');

:root {
  --color-blue: #007fc7;
  --color-red: #ff2c2c;
  --color-gold: #ce9912;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #093843;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: inherit;
}

#root {
  height: 100%;
  width: 100%;
}

.title {
  color: var(--color-blue);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 24px;
  color: #f6f6f6;
  border-radius: 30px;
  transition: background 0.3s;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
